body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Tahoma, sans-serif;
  font-size: 40px;
  background-color: white;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-top: 1px solid #687291;
}

/* Alternating colors */
#A, #C, #E {
  background-color: #dfe1e7;
}

#B, #D {
  background-color: #eeeff2;
}

#F {
  background-color: #687291;
  color: white;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
